<h2 class="country_title"><%= @country.title %></h2>
<p>
  <%= link_to "edit", "/countries/#{@country.id}/edit" %>
</p>
<p class="country_description">
  <%= @country.description %>
</p>
<h3>Oilfields</h3>
<%= render partial: "oilfields/oilfieldform", locals: { oilfield_local: @oilfield, country_id: @country.id }%>
<ul class="oilfields">
  <% @country.oilfields.order(id: :desc).each do |oilfield| %>
    <li class="oilfield">
      <h4><%= oilfield.title %></h4>
      <p>
        <%= link_to "edit", "/oilfields/#{oilfield.id}/edit" %>
      </p>
      <p><%= oilfield.content %></p>
    </li>
  <% end %>
</ul>
