<!DOCTYPE html>
<html>
<head>
  <title>Oilr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
<img src="/oilr.jpg">
</header>
<body>
<h1>Oilr</h1>
<nav>
  <%= link_to "countries", countries_path(100) %>
</nav>
<%= yield %>

</body>
</html>
